@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fahkwang:wght@700&family=Quicksand:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  font-family: 'Quicksand';
  font-weight: 400; }

/* Mapas */
.general-cuadrouno {
  background-color: black;
  margin: 0px 20px 40px 20px;
  box-shadow: 5px 5px 5px 0px black; }

.general-cuadrodos {
  background-color: #E9EAEA;
  margin: 0px 20px 40px 20px;
  box-shadow: 5px 5px 5px 0px black; }

/* Extend */
h6, .cuadrouno {
  color: black; }

.cuadrouno {
  color: white; }

/* Mixin */
.partes, .chichi {
  border-radius: 35px;
  box-shadow: 5px 5px 5px 0px black; }

.barra {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column; }
  .barra .barra-sub {
    border: solid 1px black;
    width: 200px;
    align-items: center; }

.partes {
  animation-name: partes;
  animation-duration: 3s;
  animation-iteration-count: 1; }

@keyframes partes {
  0% {
    transform: translate(-30vw); }
  100% {
    transform: translateX(0vw); } }

.chichi {
  animation-name: chichi;
  animation-duration: 3s;
  animation-iteration-count: 1; }

@keyframes chichi {
  0% {
    transform: translate(30vw); }
  100% {
    transform: translateX(0vw); } }

.empresa {
  animation-name: empresa;
  animation-duration: 3s;
  animation-iteration-count: 1; }

@keyframes empresa {
  0% {
    transform: translate(30vw); }
  100% {
    transform: translateX(0vw); } }

.rubro {
  animation-name: rubro;
  animation-duration: 3s;
  animation-iteration-count: 1; }

@keyframes rubro {
  0% {
    transform: translate(-30vw); }
  100% {
    transform: translateX(0vw); } }

header {
  top: 0%;
  background-color: black; }
  header .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none; }
    header .navbar img:hover {
      transform: scale(1.2); }
    header .navbar ul {
      text-align: center; }
      header .navbar ul li {
        display: flex;
        margin: 15px 0; }

footer {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white; }
  footer img:hover {
    transform: scale(1.1); }
  footer ul {
    list-style-type: none; }
  footer .paginas {
    text-align: center; }

.main-servicios {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center; }
  .main-servicios img {
    width: 300px;
    margin: 30px; }

.videos {
  display: flex;
  padding: 50px 10px 100px 10px;
  text-align: center;
  flex-direction: column; }
  .videos .vid {
    width: 280px; }

.marcas {
  text-align: center;
  width: 100%; }
  .marcas .marcasimagenes {
    width: 100%; }

.cuimotor {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .cuimotor h3 {
    grid-column: 3/11;
    grid-row: 1/2;
    text-align: center; }
  .cuimotor p {
    grid-row: 3/3;
    grid-column: 3/12;
    font-size: 1rem; }
  .cuimotor img {
    grid-row: 2/2;
    grid-column: 2/12;
    width: 100%; }

.frenos {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .frenos h3 {
    grid-column: 4/9;
    grid-row: 1/2;
    text-align: center; }
  .frenos p {
    grid-row: 3/3;
    grid-column: 3/12;
    font-size: 1rem; }
  .frenos img {
    grid-row: 2/2;
    grid-column: 2/12;
    width: 100%; }

.luces {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 15px; }
  .luces h3 {
    grid-column: 3/11;
    grid-row: 1/2;
    text-align: center; }
  .luces p {
    grid-row: 3/3;
    grid-column: 3/12;
    font-size: 1rem; }
  .luces img {
    grid-row: 2/2;
    grid-column: 2/12;
    width: 100%; }

.contacto {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
  flex-direction: column;
  align-items: center; }
  .contacto .formulario {
    padding: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white; }
    .contacto .formulario input {
      margin-bottom: 15px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 10px;
      width: 100%; }
  .contacto textarea {
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 400px; }
  .contacto select {
    border-radius: 25px;
    margin-left: 16px;
    margin-bottom: 20px; }
  .contacto .enviar {
    display: flex;
    justify-content: space-between; }
    .contacto .enviar .asad {
      margin-right: 20px; }

@media screen and (min-width: 768px) {
  .main-index .inicio .titulo {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .main-index .d-flex {
    flex-direction: column;
    align-items: center;
    display: flex; }
    .main-index .d-flex h2 {
      text-align: center;
      margin-top: 100px; }
  .main-index .uno {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    display: grid; }
    .main-index .uno p {
      grid-row: 1/1;
      grid-column: 8/12;
      text-align: center;
      font-size: 1.7rem; }
    .main-index .uno img {
      grid-row: 1/1;
      grid-column: 3/7;
      width: 100%;
      border-radius: 50%;
      height: 100%; }
  .main-index .dos {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    display: grid;
    margin-bottom: 20px; }
    .main-index .dos img {
      grid-row: 1/2;
      grid-column: 8/12;
      width: 100%;
      border-radius: 50%;
      height: 100%; }
    .main-index .dos p {
      grid-row: 1/2;
      grid-column: 3/7;
      text-align: center;
      font-size: 1.7rem; } }

@media screen and (min-width: 768px) {
  .header .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header .nav-item {
    margin-right: 10px; } }

@media screen and (min-width: 768px) {
  footer {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    padding: 15px 25px;
    justify-content: space-between;
    color: white; }
    footer ul {
      list-style: none; }
      footer ul .ul-li {
        margin-bottom: 10px; }
    footer .designe {
      padding: 5px 1px; } }

@media screen and (min-width: 768px) {
  .main-servicios {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly; }
    .main-servicios img:hover {
      transform: scale(1.1); } }

@media screen and (min-width: 768px) {
  .videos {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row; }
    .videos .vid {
      width: 100%; }
  .marcas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .marcas .slider {
      max-width: 700px; } }

@media screen and (min-width: 768px) {
  .cuimotor {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(12, 1fr);
    align-items: center; }
    .cuimotor h3 {
      grid-column: 2/6;
      grid-row: 1/2;
      text-align: center; }
    .cuimotor p {
      grid-row: 2/2;
      grid-column: 7/12;
      font-size: 1rem; }
    .cuimotor img {
      grid-row: 2/2;
      grid-column: 2/8;
      width: 65%;
      height: 100%;
      border-radius: 25px; }
  .frenos {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center; }
    .frenos h3 {
      grid-column: 2/6;
      grid-row: 1/2;
      width: 100%;
      text-align: center; }
    .frenos p {
      grid-row: 2/2;
      grid-column: 7/12;
      font-size: 1rem; }
    .frenos img {
      grid-row: 2/2;
      grid-column: 2/8;
      width: 65%;
      height: 100%;
      border-radius: 25px; }
  .luces {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    margin-bottom: 15px; }
    .luces h3 {
      grid-row: 1/2;
      width: 100%;
      text-align: center;
      grid-column: 2/6; }
    .luces p {
      grid-row: 2/2;
      grid-column: 7/12;
      font-size: 1rem; }
    .luces img {
      grid-row: 2/2;
      grid-column: 2/8;
      width: 65%;
      height: 100%;
      border-radius: 25px; } }

@media screen and (min-width: 768px) {
  .contacto {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; }
  .formulario {
    padding: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../imagenes/wallper.jpg");
    background-size: cover; }
    .formulario input {
      margin-bottom: 15px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 10px;
      width: 100%; }
    .formulario textarea {
      margin-bottom: 15px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 10px;
      width: 100%;
      max-width: 100%;
      min-height: 100px;
      max-height: 400px; }
    .formulario select {
      border-radius: 25px;
      margin-left: 16px;
      margin-bottom: 20px; }
    .formulario .enviar {
      display: flex;
      justify-content: space-between; }
      .formulario .enviar .asad {
        margin-right: 20px; } }

.fs-1 {
  text-align: center;
  font-family: 'Fahkwang';
  font-weight: 700; }

.uno {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center; }
  .uno img {
    grid-row: 1/2;
    grid-column: 4/10;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    margin-bottom: 5px; }
  .uno p {
    grid-row: 2/2;
    grid-column: 4/10;
    text-align: center;
    font-size: 17px; }

.dos {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center; }
  .dos img {
    grid-row: 1/2;
    grid-column: 4/10;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    margin-bottom: 10px; }
  .dos p {
    grid-row: 2/2;
    grid-column: 4/10;
    text-align: center;
    font-size: 17px; }
