.cuimotor{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    h3{
        grid-column: 3/11;
        grid-row: 1/2;
        text-align: center;
    }
    p{
        grid-row: 3/3;
        grid-column: 2/12;
        font-size: 1rem;
        text-align: center;
    }
    img{
        grid-row: 2/2;
        grid-column: 2/12;
        width: 100%;
    }
}

.frenos{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    h3{
        grid-column: 4/9;
        grid-row: 1/2;
        text-align: center;
    }
    p {
        grid-row: 3/3;
        grid-column: 2/12;
        font-size: 1rem;
        text-align: center;
    }
    img{
        grid-row:2/2;
        grid-column:2/12;
        width:100%;
    }
}

.luces{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 15px;
    h3{
        grid-column: 3/11;
        grid-row: 1/2;
        text-align: center;
    }
    p{
        grid-row: 3/3;
        grid-column: 2/12;
        font-size: 1rem;
        text-align: center;
    }
    img{
        grid-row:2/2;
        grid-column:2/12;
        width:100%;
    }
}