.videos{
    display: flex;
    padding: 50px 10px 100px 10px;
    text-align: center;
    flex-direction: column;
    h3{
        margin-bottom: 15px;
    }
    .vid{
    width: 260px;
    margin-bottom: 15px;
    }
}
    .marcas {
        text-align: center;
        .marcasimagenes {
            width: 100%;
        }
        width: 100%;
    }
