.videos{
    display: flex;
    padding: 50px 10px 100px 10px;
    text-align: center;
    flex-direction: column;
    .vid{
    width: 280px;
    }
}
    .marcasimagenes {
        width: 100%;
    }
