$bg-header: black ;
$bg-footer: rgb(138, 151, 148);

/* Mapas */
$cuadros: (
    cuadrouno:  black,
    cuadrodos: #E9EAEA,
);

@each $fondo, $color in $cuadros {
    .general-#{$fondo} {
        background-color: $color;
        margin: 0px 20px 40px 20px;
        box-shadow: 5px 5px 5px 0px black;
    }
}
/* Extend */

h6 {
    color: black
}
.cuadrouno{
    @extend h6 ;
    color: white;
}

/* Mixin */

@mixin img {
    border-radius: 35px;
    box-shadow: 5px 5px 5px 0px black;
}

.img {
    @include img
}

.barra{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    .barra-sub{
    border: solid 1px black;
    width: 200px;
    align-items: center;
    }
}

