$bg-header: black ;
$bg-footer: black;

/* Mapas */
$cuadros: (
    cuadrouno:  black,
    cuadrodos: #E9EAEA,
);

@each $fondo, $color in $cuadros {
    .general-#{$fondo} {
        background-color: $color;
        margin: 0px 20px 40px 20px;
        box-shadow: 5px 5px 5px 0px black;
    }
}
/* Extend */

h6 {
    color: black
}
.cuadrouno{
    @extend h6 ;
    color: white;
}

/* Mixin */

@mixin img {
    border-radius: 35px;
    box-shadow: 5px 5px 5px 0px black;
}

.partes, .chichi{
    @include img
}

.barra{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    .barra-sub{
    border: solid 1px black;
    width: 200px;
    align-items: center;
    }
}


.partes{
    animation-name: partes;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes partes {
    0%{
        transform: translate(-30vw);
    }

    100%{
        transform: translateX(0vw);
    }
}

.chichi{
    animation-name: chichi;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes chichi {
    0%{
        transform: translate(30vw);
    }

    100%{
        transform: translateX(0vw);
    }
}


.empresa{
    animation-name: empresa;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes empresa {
    0%{
        transform: translate(30vw);
    }

    100%{
        transform: translateX(0vw);
    }
}

.rubro{
    animation-name: rubro;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes rubro {
    0%{
        transform: translate(-30vw);
    }

    100%{
        transform: translateX(0vw);
    }
}