@media screen and (min-width:768px){
    footer{
        font-size: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $bg-footer;
        padding: 15px 25px;
        justify-content: space-between;
        color: white;
            ul{
            list-style: none;
            .ul-li{
            margin-bottom: 10px;
            }
            }
                .designe{
                padding: 5px 1px;
                }
        }
    }