footer{
    font-size: 13px;
    border-bottom: 2px;
    border-style: ridge;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-footer;
    color: white;
    img:hover{
        transform: scale(1.10);
    }
    ul{
    list-style-type: none;
    }
}